---
import { Counter } from '@/components/Counter'
import Layout from '@/layouts/Layout.astro'
import axios from 'axios'

const { data } = await axios('https://api.github.com/repos/snowpackjs/astro')
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1 class='uppercase'>Hello {data.name}</h1>
    <Counter client:load />
  </main>
</Layout>
